@using System.Security.Claims
@using FisCompendium.Data.User_Data
@using FisCompendium.Web.Extensions
@{
    var Username = User?.Identity?.Name ?? "Guest";
    var LoggedIn = Username != "Guest";
    var IsQM = User.HasClaim(ClaimTypes.Role, PermissionsLevel.QM.ToString());
    var HasMessages = TempData.GetMessages().Any();
    var HasErrors = TempData.GetErrors().Any();
    var CurrentUrlPath = Context.Request.Path + "/" + Context.Request.QueryString;

    var AcceptedTAC = Context.Request.Cookies["AcknowledgedTAC"] != null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Legacy of the Goddess</title>
    <link rel="shortcut icon" href="~/favicon.ico" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/smoothness/jquery-ui.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/tag-it/css/jquery.tagit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.min.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.bundle.min.css" />

    @*<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/tag-it/js/tag-it.js" asp-append-version="true"></script>*@
    <script src="~/js/site.bundle.min.js"></script>
</head>
<body>
    <div class="topleft">
        <span class="navbar-brand">Fi’s Compendium</span>
        <br />
        <div class="dropdown" align="left" style="margin: 5px 0 0 10px">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span>Navigation</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>@Html.ActionLink("Story", "Index", "Story")</li>
                @*<li>@Html.ActionLink("Status", "Index", "Status")</li>*@
                <li>@Html.ActionLink("Map", "Local", "Map")</li>
                <li>@Html.ActionLink("Knowledge", "Index", "Knowledge")</li>
                <li>@Html.ActionLink("Players", "Index", "PlayerLog")</li>
                <li>@Html.ActionLink("About", "Index", "Home")</li>
            </ul>
        </div>
        @if (IsQM)
        {
            <div class="dropdown" style="margin: -40px 0 0 115px">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>QM Tools</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Notes", "Index", "QMNotes")</li>
                    <li>@Html.ActionLink("QM Maps", "World", "QMMaps")</li>
                    <li>@Html.ActionLink("Player Points", "Update", "PlayerPoints")</li>
                    <li>@Html.ActionLink("Set Permissions", "Update", "Permissions")</li>
                    <li>@Html.ActionLink("Hex Grid", "Grid", "Combat")</li>
                    <li>@Html.ActionLink("Combat Tools", "Tools", "Combat")</li>
                </ul>
            </div>
        }
    </div>
    <div class="topright">
        <span class="navbar-brand">Welcome, @Username</span>
        <br />
        <div class="dropdown" align="right" style="margin: 5px 10px 0 0">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Account</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @if (LoggedIn)
                {
                    <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                    <li>@Html.ActionLink("Change Email", "ChangeEmail", "Account")</li>
                    <li>@Html.ActionLink("Update Preferences", "UpdatePreferences", "Account")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Account", new { lastPage = CurrentUrlPath }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Register", "Register", "Account", new { lastPage = CurrentUrlPath }, htmlAttributes: null)</li>
                }
            </ul>
        </div>
    </div>
    <div class="container-fluid bodycontent">
        
        @if(!LoggedIn && !AcceptedTAC)
        { 
            <div class="panel-primary collapse show" style="margin-top: 10px; margin-bottom: 20px" id="tac-panel">
                <button id="acknowledgeTAC" class="close btn btn-secondary" type="button" data-toggle="collapse" data-target="#tac-panel" aria-expanded="false">
                    <span size="12">&times;</span>
                </button>
                <div class="panel-heading">
                    <strong>NOTICE:</strong> By using this site, you agree to the <a href="/Home/TAC" target="_blank"><u>Terms and Conditions</u></a>.
                </div>
            </div>
        }

        @if (HasMessages)
        {
            <div class="panel-info collapse show" id="messages-panel">
                <button class="close btn btn-secondary" type="button" data-toggle="collapse" data-target="#messages-panel" aria-expanded="false">
                    <span size="12">&times;</span>
                </button>
                <div class="panel-heading">
                    <strong>Note:</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        @foreach (var msg in TempData.GetMessages())
                        {
                            <li>@msg</li>
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="panel-body">
                @if (HasErrors)
                {
                    <div class="container-fluid">
                        <div class="panel-danger">
                            <div class="panel-heading">
                                <strong>Errors:</strong>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    @foreach (var error in TempData.GetErrors())
                                    {
                                        <li>@error</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                }
                else
                {
                    @RenderBody()
                }
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function() {
            $('#acknowledgeTAC').click(function () {
                var exdate = new Date();
                exdate.setDate(exdate.getDate() + 60);
                var c_value = "true; expires=" + exdate.toUTCString();
                document.cookie = "AcknowledgedTAC" + "=" + c_value;
            });
        });
    </script>
</body>
</html>
