@model FisCompendium.Web.Models.Account.AccountChangePassword

@{
    ViewBag.Title = "Change Password";
}

<div>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.TextBoxFor(x => x.Username, new { placeholder = "Username" })
        <div class="text-danger" style="margin: 10px">
            @Html.ValidationMessageFor(x => x.Username)
        </div>
        @Html.PasswordFor(x => x.OldPassword, new { placeholder = "Old Password" })
        <div class="text-danger" style="margin: 10px">
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>
        @Html.PasswordFor(x => x.Password, new { placeholder = "New Password" })
        <div class="text-danger" style="margin: 10px">
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <input type="submit" class="btn btn-primary" />
    }
</div>

