@model FisCompendium.Web.Models.Account.AccountPasswordRecovery

@{
    ViewBag.Title = "Forgotten Password";
}

<div>
    <h4>Enter your username and recovery email. If the information is in our system, you will be sent a recovery ticket to change your password.</h4>
    <br />
    @using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post))
    {
        @Html.TextBoxFor(x => x.Username, new { placeholder = "Username" })
        <div class="text-danger">
            @Html.ValidationMessageFor(x => x.Username)
        </div>
        @Html.TextBoxFor(x => x.RecoveryEmail, new { placeholder = "Recovery Email" })
        <div class="text-danger">
            @Html.ValidationMessageFor(x => x.RecoveryEmail)
        </div>
        <input type="submit" class="btn btn-primary" />
    }
    <br />
    @Html.ActionLink("Already have a recovery ticket?", "Recover", "Account")
</div>

